.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare';
}
.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}
.publish {
  margin-top: 30px;
  margin-bottom: 30px;
}
.publish input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 80%;
  border: 1px solid grey;
}
.publish button {
  display: block;
  margin: auto;
  margin-top: 10px;
}
.blackNav {
  background: #000;
  width: 100%;
  display: flex;
  color: #fff;
  padding:20px;
  font-weight: 600;
  font-size: 20px;
}
section {
  padding: 10px;
}
section:not(:first-of-type) {
  margin-top: 50px;
}
section .firstTitle {
  border-bottom: 2px solid #000;
  text-align: left;
}
section .contArea {
  border: 1px solid rgba(0,0,0,0.4);
  padding: 10px;
}
section .contArea .list {
  text-align: left;
}